header {
    background-color:royalblue;
    color:aliceblue; 
    text-align: center;
    
}

main{
    background-color: lightgrey;
    background-repeat: repeat;
    padding: 1 em;
}

body{
    margin: 0;
    background-image: url("record.png") ;
    
}